<!DOCTYPE html>
<html>

<title>ABOUT US</title>
<head>
<style> 
body {
  background-image: url("D:/hello.jpg");
  background-color: #cccccc;
background-repeat:no-repeat;
background-size:cover
}
</style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container">
<center>
<h1>TECH_PIRATES</h1>
<h2>AK3 CODERS</h2>
<h2>1.Ahamed Faheme:7217771328</h2>
<h2>2.Barath Kumar S:5712868671</h2>
<h2>3.Aravindan:7572822809</h2>
<h2>4.Aakash R.K:8827817717</h2>
<h2>5.Asothaman S:9874467121</h2>
<h2>6.Durga:9986296299</h2>
</div>


</body>
</html>
