<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Apple Menu Search Animation</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">
<style>
  body{
    
         background: url(../images/flight.jpeg) no-repeat fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 100% !important;
            width: 100% !important;
  }
</style>
  
</head>

<body>

  <header>
<nav>
    <div class="menu-container">
    <!-- Menu -->
    <ul class="menu">
     
      
      <li class="menu-iPad">
        <a href="#">
          <span>Home</span>
        </a>
      </li>
      <li class="menu-iPhone">
        <a href="/mainmap">
          <span>Maps</span>
        </a>
      </li>
      <li class="menu-watch">
        <a href="/viewmap">
          <span>AIRPORTS</span>
        </a>
      </li>
      <li class="menu-tv">
        <a href="/firstpointed">
          <span>RECTIFIED_ROUTE</span>
        </a>
      </li>
      <li class="menu-support">
        <a href="/logout">
          <span>Logout</span>
        </a>
      </li>
      <li class="menu-search">
        <a href="#">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </li>
    
    </ul>
    
    
    <!-- Search -->
    <div class="menu-search-container">
      <div class="menu-search-input">
      <form action="">
        <a href="#">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
        <input class="menu-search-input" type="text" aria-label="Search apple.com" placeholder="Search apple.com" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false">
      </form>
      </div>
      <a class="menu-search-close" href="#">
        <i class="fa fa-close" aria-hidden="true"></i>
      </a> 
      <div class="search-sub-menu">
      <h3>Recent Searches...</h3>
      <ul>
        <li><a href="#">/*</a></li>
        <li><a href="#">/*</a></li>
        <li><a href="#">/*</a></li>
        <li><a href="#">/*</a></li>
        <li><a href="#">/*</a></li>
      </ul>
    </div>
    </div>
   
  </div>
</nav>
</header>
<div class="fade-screen"></div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script  src="js/index.js"></script>

    <div class="col-md-3">
      <label for="flightplan_departure">Departure</label>
    </div>
    <div id="departure-input" class="col-md-3">
      <input title="Airports, Fixes, VORs, etc." size="5" maxlength="5" tabindex="1" autofocus="autofocus" autocomplete="off" class="form-control" data-toggle="tooltip" data-placement="top" type="text" name="flightplan[departure]" id="flightplan_departure" />
      <div class="panel airport-live"></div>
    </div>
<div class="col-sm-12">
  <div class="col-sm-12" style="margin-top:240px;">

    <div class="col-sm-12" style="padding:20px;background-color:white;text-align:center">
    <MARQUEE DIRECTION=LEFT><h1 style="font-size:50px;color:linear-gradient(255,255,0 70%);">BOOK YOUR WAY NOW</h2></MARQUEE></div>
  </div>
</div>
</body>

</html>
